<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/img/di45bXx4T.jpeg">
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
         {{>header}}
    <p>This website use Data from Mapbox.com and Darksky.net.</p>
    <p>This is The beautiful landscape of The Markha Valley</p>
    <img class="portrait" src="https://i.pinimg.com/originals/a5/f7/d0/a5f7d0ea26bdf3dcd982f3b14ea158b1.jpg" alt="Markha valley">
    </div>
   
    {{>footer}}
</body>

</html>