<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/img/di45bXx4T.jpeg">
    <title>help</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
       <form >
           <input placeholder="Write Your Query Here!!!">
           <button>Search</button>
       </form>
       <img class = "help" src="https://ak.picdn.net/shutterstock/videos/29783827/thumb/12.jpg" >
     </div>
    
    {{>footer}}
</body>

</html>